@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
}

a {
    text-decoration: none;
}

header nav {
    width: 80%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .title a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: whitesmoke;
}

header nav .title a img {
    margin-left: 4px;
}

header nav .title :hover {
    color: aquamarine;
    animation: agrandarTexto 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: flex;
    /* Necesario para la transformación */
}

header nav .title img {
    width: 40px;
}

header nav .menu .options {
    font-size: 25px;
    padding: 3px;
    margin: 4px;
    color: whitesmoke;
}

header nav .menu .options:hover {
    color: aquamarine;
    animation: agrandarTexto 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;

    /* Necesario para la transformación */
}

@media (max-width: 1376px){
    .img-container{
        height: 125vh;
    }
}

@media (max-width: 822px){
    .img-container{
        height: 180vh;
    }
}


@media (max-width: 770px) {
    header nav {
        flex-direction: column;
    }

    header nav .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 545px){
    .img-container{
        height: 300vh;
    }
}

@keyframes agrandarTexto {
    from {
        transform: scale(1);
        /* Inicia con el tamaño normal */
    }

    to {
        transform: scale(1.1);
        /* Termina un 10% más grande */
    }
}

@keyframes agrandarImg {
    from {
        transform: scale(1);
        /* Inicia con el tamaño normal */
    }

    to {
        transform: scale(1.02);
        /* Termina un 10% más grande */
    }
}


.main-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* background-color: blueviolet; */
}

.informativo {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    min-height: 50vh;
    margin: 100px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgb(66, 66, 66);
}

.informativo .title{
    margin: 4px 8px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 24px;
}

.informativo .description{
    margin: 3px;
    padding: 5px 10px;
    font-weight: 400;
}

.informativo footer {
    display: flex;
    justify-content: end;
}

.informativo footer a{
    margin: 0 8px;
    padding: 5px;
    text-decoration: none;
    color: currentColor;
}

.informativo footer a:hover{
    color: aquamarine
}

.img-container {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 12px rgb(66, 66, 66);
}

.img-container .imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    width: 220px;
    min-width: 200px;
    min-height: 500px;
}

.img-container .imagen img {
    height: 400px;
}

.img-container .imagen img:hover {
    animation: agrandarImg 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformación */
}

.img-container .imagen .nombre {
    background-color: black;
    border-radius: 5px;
    color: white;
    opacity: 0;
    min-width: 100px;
    width: 125px;
    height: 40px;
}

.img-container .imagen:hover .nombre {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.img-container .imagen .nombre .text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-container .imagen .description {
    opacity: 0;
}

.img-container .imagen:hover .description {
    display: flex;
    opacity: 1;
    color: whitesmoke;
    margin-top: 5px;
}

.dorada {
    display: none;
}

.img-container .imagen:hover .dorada {
    display: flex;
}

.img-container .imagen:hover .azul {
    display: none;
}

.infoMia{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoMia a{
    text-decoration: none;
    color: white;
}