@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
}

a {
    text-decoration: none;
}

.header {
    background-color: black;
    opacity: 0.9;
    background-image: url("../images/optimizadas/goku-nav.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 6px rgba(64, 64, 64, 0.5);
    /* Sombra opcional para darle profundidad */
    z-index: 1000;
    /* Asegura que el nav se quede por encima de otros elementos */
}

header nav {
    width: 80%;
    height: 60px;
    margin: auto;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .title a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: whitesmoke;
}

header nav .title a img {
    margin-left: 4px;
}

header nav .title :hover {
    color: aquamarine;
    animation: agrandarTexto 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: flex;
    /* Necesario para la transformación */
}

header nav .title img {
    width: 40px;
}

header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .menu .options {
    font-size: 25px;
    padding: 3px;
    margin: 4px;
    color: whitesmoke;
}

header nav .menu .options svg {
    padding-top: 10px;
    width: 41px;
    height: 41px;
}


header nav .menu .options:hover {
    color: aquamarine;
    animation: agrandarTexto 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;

    /* Necesario para la transformación */
}

@media (max-width: 1376px) {
    .img-container {
        height: auto;
    }
}

@media (max-width: 822px) {
    .img-container {
        height: auto;
    }
}


@media (max-width: 770px) {
    .header {
        height: 105px;
    }

    header nav {
        flex-direction: column;
    }

    header nav .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 545px) {
    .img-container {
        height: 300vh;
    }
}

@keyframes agrandarTexto {
    from {
        transform: scale(1);
        /* Inicia con el tamaño normal */
    }

    to {
        transform: scale(1.1);
        /* Termina un 10% más grande */
    }
}

@keyframes agrandarImg {
    from {
        transform: scale(1);
        /* Inicia con el tamaño normal */
    }

    to {
        transform: scale(1.02);
        /* Termina un 10% más grande */
    }
}


.main-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    /* background-color: blueviolet; */
}

.informativo {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    justify-content: center;
    min-height: 60vh;
    margin: 100px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgb(66, 66, 66);
}

.informativo .title {
    margin: 4px 8px;
    padding: 5px 20px;
    font-weight: 500;
    font-size: 24px;
}

.informativo .description {
    margin: 3px;
    padding: 5px 10px;
    font-weight: 400;
}

.informativo footer {
    display: flex;
    justify-content: end;
}

.informativo footer a {
    margin: 0 8px;
    padding: 20px;
    text-decoration: none;
    color: currentColor;
}

.informativo footer a:hover {
    color: aquamarine;
}

.img-container {
    min-height: 70vh;
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 12px rgb(66, 66, 66);
    max-width: 1000px;
}

.img-container .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    min-width: 200px;
    min-height: 500px;
}

.img-container .image img {
    height: 400px;
}

.img-container .image img:hover {
    animation: agrandarImg 0.5s infinite alternate;
    /* Se agranda en 2 segundos, infinitamente y alternando entre inicio y fin */
    display: inline-block;
    /* Necesario para la transformación */
}

.img-container .image .nombre {
    background-color: black;
    border-radius: 5px;
    color: white;
    opacity: 0;
    min-width: 100px;
    width: 125px;
    height: 40px;
}

.img-container .image:hover .nombre {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.img-container .image .nombre .text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-container .image .description {
    opacity: 0;
}

.img-container .image:hover .description {
    display: flex;
    opacity: 1;
    color: whitesmoke;
    margin-top: 5px;
}

.img2 {
    display: none;
}

.img-container .image:hover .img2 {
    display: flex;
}

.img-container .image:hover .img1 {
    display: none;
}


footer {
    margin: 20px 0;
}

footer header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee
}

footer header p {
    font-weight: 400;
    font-size: 24px;
}

footer header .svg-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    color: white;
    margin: 10px;
}

footer header .svg-container a:hover {
    animation: agrandarTexto 0.5s infinite alternate;
    color: aquamarine;
}


footer header .svg-container svg {
    width: 35px;
    height: 35px;
}

.infoMia {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoMia a {
    text-decoration: none;
    color: white;
}

.infoMia a:hover {
    color: aquamarine
}